@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  margin-inline: auto;
  width: min(90%, 1000px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
