---
import BaseLayout from '../layouts/BaseLayout.astro'
const title = "Home"
---
<BaseLayout title={title}>
  <main class="bg-gray-100 flex justify-center items-center">
    <a href="/products" class="text-slate-50">Shop Now</a>
  </main>
</BaseLayout>