---
const { btnText } = Astro.props;
---
<a href="#" class="font-serif cursor-pointer tracking-wider bg-clr-secondary-accent py-2 px-4 text-clr-light shadow hover:scale-105 hover:shadow-md transition-transform">{btnText}</a>