---
---
<div class="custom-container py-16">
  <p><a class="text-neutral-50 text-2xl py-4" href="/">Handcraft Baskets</a></p>
  <div class="flex flex-col lg:flex-row gap-4 md:justify-between">
    <div>
      <p class="uppercase text-neutral-50 font-semibold tracking-wider my-3">Let Us Help</p>
      <ul>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Help</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Track My Order</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Return My Order</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Cancel My Order</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Contact Us</a></li>
      </ul>
    </div>
    <div>
      <p class="uppercase text-neutral-50 font-semibold tracking-wider my-3">Our Policies</p>
      <ul>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Shipping & Delivery</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Returns, Refund & Cancellations</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Terms & Conditions</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Privacy Policy</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Contact Us</a></li>
      </ul>
    </div>
    <div>
      <p class="uppercase text-neutral-50 font-semibold tracking-wider my-3">Follow us on</p>
      <ul>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Instagram</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Facebook</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Twitter</a></li>
        <li><a href="#" class="capitalize text-neutral-100 my-1">Youtube</a></li>
      </ul>
    </div>
  </div>
</div>
<p class="text-neutral-200 text-center p-1 text-sm tracking-wide bg-clr-secondary-accent">©Handcraft Baskets, 2021. All rights reserved.</p>