--- 
import Button from '../components/Button.astro'
const { name, price, imgName } = Astro.props;
---
<div class="bg-clr-primary-accent shadow">
  <picture class="w-full">
    <img class="block h-72 object-cover aspect-square w-full" src={imgName} alt="" />
  </picture>
  <div class="p-4">
  <p class="font-serif text-slate-200 text-xl my-1">{name}</p>
  <div class="my-2 flex flex-row justify-between items-center">
    <p class="font-serif text-slate-200 text-xl text-center my-2">Rs. {price}</p>
    <Button btnText={"Buy Now"}/>
  </div>
  <!-- <a class="font-serif text-slate-200 text-lg text-center my-2">Show More</a> -->
  </div>
</div>